<h1>Hello, Rails!</h1>

<ul>
  <li><a href='/auth/sberbank'>Sign in with SberID</a></li>
  <li><a href='/check_connection'>Тестовый вариант коннекта без сбер ИД</a></li>
  <li><a href='/auth/vkontakte'>Sign in with VKontakte</a></li>
</ul>